@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

body {
  font: 12px/24px "微软雅黑";
  color: #666; }

body, html {
  width: 100%;
  height: 100%; }

ul, li, ol {
  list-style: none; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #666; }

img {
  border: none;
  padding: 0;
  margin: 0; }

i, em {
  font-style: normal; }

input, textarea, select, button {
  outline: none;
  resize: none; }

section {
  width: 100%;
  position: relative; }
  section hr {
    position: absolute;
    top: 40px;
    width: 100%;
    border: 1px solid #dc0f50; }

.section {
  width: 1200px;
  margin: 0 auto; }
  .section nav {
    width: 1200px;
    height: 40px;
    background: #fff; }
    .section nav dt {
      float: left;
      width: 234px;
      height: 40px;
      font-size: 14px;
      color: #fff;
      line-height: 40px;
      text-align: center;
      margin-right: 20px;
      position: relative;
      cursor: pointer;
      background: #333 url(../img/nav_b_bg.jpg) no-repeat 200px center; }
      .section nav dt:hover {
        background: #333 url(../img/nav_a_bg.jpg) no-repeat 200px center; }
        .section nav dt:hover .list {
          display: block;
          background: #fff; }
      .section nav dt .list {
        position: absolute;
        left: 0;
        top: 40px;
        width: 232px;
        height: 560px;
        border: 1px solid #ccc;
        display: none;
        z-index: 7777; }
        .section nav dt .list a {
          display: block;
          height: 40px;
          text-align: center;
          line-height: 40px;
          font-size: 14px;
          color: #666; }
          .section nav dt .list a:hover {
            background: #dc0f50; }
    .section nav dd a {
      float: left;
      margin: 0 15px;
      line-height: 40px;
      font-size: 14px; }
      .section nav dd a:hover {
        color: #dc0f50; }
  .section .details {
    width: 1200px;
    margin: 0 auto; }
    .section .details h2 {
      height: 40px;
      line-height: 40px;
      padding: 0 15px;
      font-weight: 500;
      font-size: 14px; }
    .section .details .show {
      padding: 29px;
      position: relative;
      border: 1px solid #d6d6d6;
      background: #fff;
      margin-bottom: 10px;
      overflow: hidden; }
      .section .details .show .s-left {
        width: 400px;
        float: left;
        padding: 30px;
        height: 512px; }
        .section .details .show .s-left .bigimg {
          width: 400px;
          height: 400px;
          border: 1px solid #ccc;
          position: relative; }
          .section .details .show .s-left .bigimg img {
            width: 400px;
            height: 400px; }
          .section .details .show .s-left .bigimg #wrap {
            width: 200px;
            height: 200px;
            display: none;
            background: rgba(0, 0, 0, 0.6);
            position: absolute;
            top: 0;
            left: 0;
            cursor: move; }
          .section .details .show .s-left .bigimg .bigi {
            width: 400px;
            height: 400px;
            display: none;
            border: 1px solid #ccc;
            position: absolute;
            top: 0;
            left: 420px;
            overflow: hidden;
            background: #fff;
            z-index: 9999; }
            .section .details .show .s-left .bigimg .bigi #bbox {
              width: 400px;
              height: 400px;
              position: relative; }
              .section .details .show .s-left .bigimg .bigi #bbox img {
                position: absolute;
                left: 0;
                top: 0;
                width: 800px;
                height: 800px; }
        .section .details .show .s-left .smallimg {
          width: 400px;
          margin-top: 15px;
          position: relative; }
          .section .details .show .s-left .smallimg #mbox {
            width: 300px;
            height: 60px;
            position: relative;
            margin: 0 50px;
            overflow: hidden; }
            .section .details .show .s-left .smallimg #mbox ul {
              width: 999px;
              height: 60px;
              position: absolute;
              top: 0;
              left: 0; }
              .section .details .show .s-left .smallimg #mbox ul li {
                width: 50px;
                height: 50px;
                border: 1px solid #ccc;
                margin: 4px;
                float: left; }
                .section .details .show .s-left .smallimg #mbox ul li img {
                  width: 50px;
                  height: 50px; }
          .section .details .show .s-left .smallimg #next, .section .details .show .s-left .smallimg #prev {
            position: absolute;
            display: block;
            width: 20px;
            height: 40px;
            top: 10px; }
          .section .details .show .s-left .smallimg #next {
            right: 15px;
            background: #333 url(../img/rig.jpg) no-repeat 0 10px; }
          .section .details .show .s-left .smallimg #prev {
            left: 15px;
            background: #333 url(../img/left.jpg) no-repeat 0 10px; }
      .section .details .show .s-right {
        width: 600px;
        float: right;
        padding: 15px;
        position: relative; }
        .section .details .show .s-right h3 {
          color: #333;
          font-size: 20px;
          line-height: 30px;
          padding: 7px 0;
          border-bottom: 1px solid #d6d6d6; }
        .section .details .show .s-right .g-list {
          width: 630px; }
          .section .details .show .s-right .g-list dl {
            width: 630px;
            clear: both; }
            .section .details .show .s-right .g-list dl dt {
              width: 70px;
              float: left;
              padding: 10px 0; }
            .section .details .show .s-right .g-list dl dd:first-child {
              position: relative; }
              .section .details .show .s-right .g-list dl dd:first-child b {
                display: block;
                font-weight: bold;
                font-size: 30px;
                line-height: 32px;
                color: #dc0f50; }
              .section .details .show .s-right .g-list dl dd:first-child i {
                display: block;
                font-size: 16px;
                margin-left: 15px;
                text-decoration: line-through; }
              .section .details .show .s-right .g-list dl dd:first-child a {
                display: block;
                position: absolute;
                right: 25px;
                color: #dc0f50;
                top: 20%;
                padding-right: 30px;
                background: url(../img/goShop.png) no-repeat right center; }
            .section .details .show .s-right .g-list dl dd {
              width: 540px;
              padding: 10px;
              float: left; }
              .section .details .show .s-right .g-list dl dd #area {
                padding-right: 15px;
                position: relative;
                height: 24px;
                margin: 0 5px;
                color: #333;
                background: url(../img/more.png) no-repeat right -28px; }
                .section .details .show .s-right .g-list dl dd #area strong {
                  font-weight: 400; }
                .section .details .show .s-right .g-list dl dd #area .pro {
                  position: absolute;
                  top: 16px;
                  left: 0;
                  display: none;
                  width: 200px;
                  padding: 5px;
                  z-index: 6666;
                  background: #fff;
                  border: 1px solid #ccc; }
                  .section .details .show .s-right .g-list dl dd #area .pro ol {
                    overflow: hidden; }
                    .section .details .show .s-right .g-list dl dd #area .pro ol li {
                      margin: 5px;
                      float: left;
                      cursor: pointer;
                      padding: 0 5px; }
                      .section .details .show .s-right .g-list dl dd #area .pro ol li:hover {
                        background: #dc0f50; }
              .section .details .show .s-right .g-list dl dd .pp {
                width: 50px;
                height: 30px;
                position: relative;
                display: inline-block; }
                .section .details .show .s-right .g-list dl dd .pp #num {
                  width: 40px;
                  height: 30px;
                  text-align: center; }
                .section .details .show .s-right .g-list dl dd .pp #plus, .section .details .show .s-right .g-list dl dd .pp #minus {
                  position: absolute;
                  display: block;
                  width: 15px;
                  height: 15px;
                  right: -10px;
                  border: 1px solid #ccc; }
                .section .details .show .s-right .g-list dl dd .pp #plus {
                  top: 0px;
                  background: url(../img/more.png) no-repeat 3px 5px; }
                .section .details .show .s-right .g-list dl dd .pp #minus {
                  top: 17px;
                  background: url(../img/more.png) no-repeat 3px -28px; }
              .section .details .show .s-right .g-list dl dd span {
                margin: 0 15px;
                color: #dc0f50; }
              .section .details .show .s-right .g-list dl dd ul {
                width: 540px;
                overflow: hidden; }
                .section .details .show .s-right .g-list dl dd ul li {
                  border: 1px solid #ccc;
                  float: left;
                  margin: 5px;
                  padding: 0 5px; }
                .section .details .show .s-right .g-list dl dd ul .check {
                  border: 1px solid #dc0f50; }
                  .section .details .show .s-right .g-list dl dd ul .check a {
                    color: #dc0f50;
                    font-weight: 600; }
          .section .details .show .s-right .g-list .s1 {
            display: inline-block;
            padding-left: 30px;
            margin: 10px 10px 10px 0;
            height: 20px;
            line-height: 20px;
            margin: 10px 0; }
          .section .details .show .s-right .g-list .s1:nth-child(1) {
            background: url(../img/icon_1.png) no-repeat 5px 0; }
          .section .details .show .s-right .g-list .s1:nth-child(2) {
            background: url(../img/icon_1.png) no-repeat 5px -40px; }
          .section .details .show .s-right .g-list .s1:nth-child(3) {
            background: url(../img/icon_1.png) no-repeat 5px -20px; }
        .section .details .show .s-right .add {
          width: 600px;
          line-height: 40px;
          margin-top: 10px; }
          .section .details .show .s-right .add a:first-child {
            display: inline-block;
            width: 110px;
            height: 40px;
            padding-left: 50px;
            line-height: 40px;
            font-weight: 600;
            font-size: 20px;
            color: #fff;
            background: #fea829 url(../img/gou.png) no-repeat 10px 8px; }
          .section .details .show .s-right .add a:nth-child(2) {
            display: inline-block;
            width: 110px;
            height: 40px;
            font-weight: 600;
            text-align: center;
            font-size: 20px;
            color: #fff;
            margin: 0 15px;
            background: #dc0f50; }
          .section .details .show .s-right .add a:nth-child(3) {
            padding-left: 26px;
            height: 40px;
            line-height: 40px;
            font-size: 14px;
            background: url(../img/icon_1.png) no-repeat 2px -60px; }
            .section .details .show .s-right .add a:nth-child(3):hover {
              color: #dc0f50;
              background: url(../img/icon_1.png) no-repeat 2px -80px; }
    .section .details .detail-bottom {
      width: 1200px;
      overflow: hidden;
      margin-bottom: 30px; }
      .section .details .detail-bottom .bottom-left {
        width: 220px;
        float: left;
        padding: 10px;
        border: 1px solid #ccc; }
        .section .details .detail-bottom .bottom-left li {
          width: 210px;
          height: 280px;
          padding: 5px;
          border-bottom: 1px solid #bbb; }
          .section .details .detail-bottom .bottom-left li:hover {
            color: #dc0f50; }
          .section .details .detail-bottom .bottom-left li img {
            width: 210px;
            height: 210px; }
          .section .details .detail-bottom .bottom-left li span {
            display: block;
            width: 210px;
            height: 40px;
            line-height: 18px; }
          .section .details .detail-bottom .bottom-left li i {
            display: block;
            width: 210px;
            height: 30px;
            line-height: 30px;
            color: #dc0f50;
            font-size: 20px; }
      .section .details .detail-bottom .bottom-right {
        width: 945px;
        float: right;
        padding-bottom: 30px;
        border: 1px solid #ccc; }
        .section .details .detail-bottom .bottom-right ul {
          width: 945px;
          height: 30px;
          background: #eee; }
          .section .details .detail-bottom .bottom-right ul li {
            float: left;
            width: 100px;
            line-height: 30px;
            text-align: center;
            font-size: 16px;
            font-weight: 500; }
          .section .details .detail-bottom .bottom-right ul .active {
            background: #dc0f50;
            color: #fff; }
        .section .details .detail-bottom .bottom-right dl {
          width: 925px;
          overflow: hidden;
          line-height: 40px;
          margin: 5px 5px 5px 15px; }
          .section .details .detail-bottom .bottom-right dl dt {
            width: 100px;
            height: 40px;
            float: left; }
          .section .details .detail-bottom .bottom-right dl dd {
            float: left; }
        .section .details .detail-bottom .bottom-right p {
          width: 945px;
          text-align: center; }
          .section .details .detail-bottom .bottom-right p img {
            width: 900px;
            vertical-align: top; }

/*# sourceMappingURL=gooddetail.css.map */
