@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

body {
  font: 12px/24px "微软雅黑";
  color: #666; }

body, html {
  width: 100%;
  height: 100%; }

ul, li, ol {
  list-style: none; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #666; }

img {
  border: none;
  padding: 0;
  margin: 0; }

i, em {
  font-style: normal; }

input, textarea, select, button {
  outline: none;
  resize: none; }

.active {
  color: #dc0f50; }

section {
  width: 100%;
  position: relative; }
  section hr {
    position: absolute;
    top: 40px;
    width: 100%;
    border: 1px solid #dc0f50; }

.section {
  width: 1200px;
  margin: 0 auto; }
  .section nav {
    width: 1200px;
    height: 40px; }
    .section nav dt {
      float: left;
      background: #333;
      width: 234px;
      height: 40px;
      font-size: 14px;
      color: #fff;
      line-height: 40px;
      text-align: center;
      margin-right: 20px;
      cursor: pointer; }
    .section nav dd a {
      float: left;
      margin: 0 15px;
      line-height: 40px;
      font-size: 14px; }
      .section nav dd a:hover {
        color: #dc0f50; }
  .section .banner {
    width: 1200px;
    height: 562px;
    margin-bottom: 30px; }
    .section .banner .list {
      width: 232px;
      height: 560px;
      border: 1px solid #ccc;
      float: left; }
      .section .banner .list a {
        display: block;
        height: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 14px;
        color: #666; }
        .section .banner .list a:hover {
          background: #dc0f50; }
    .section .banner .turnPic {
      float: left;
      width: 714px;
      height: 561px;
      margin: 0 5px; }
      .section .banner .turnPic #turns {
        width: 714px;
        height: 382px;
        margin-top: 3px;
        overflow: hidden;
        position: relative; }
      .section .banner .turnPic .pic {
        margin-top: 5px;
        height: 175px; }
        .section .banner .turnPic .pic a {
          display: block;
          float: left;
          width: 353px;
          height: 175px;
          overflow: hidden; }
          .section .banner .turnPic .pic a img {
            width: 353px;
            height: 175px;
            transition: all 2s; }
            .section .banner .turnPic .pic a img:hover {
              transform: scale(1.3, 1.3); }
        .section .banner .turnPic .pic a:first-child {
          margin-right: 5px; }
    .section .banner .login {
      width: 232px;
      height: 561px;
      float: right; }
      .section .banner .login .perlist {
        margin: 10px 0;
        width: 230px;
        height: 324px;
        border: 1px solid #bbb; }
        .section .banner .login .perlist .hd {
          width: 200px;
          height: 150px;
          padding: 15px;
          border-bottom: 1px solid #bbb;
          text-align: center; }
          .section .banner .login .perlist .hd #sub {
            display: block;
            width: 200px;
            height: 40px;
            background: #dc0f50;
            font-size: 16px;
            color: #fff;
            text-align: center;
            line-height: 40px;
            margin: 10px 0; }
          .section .banner .login .perlist .hd #reg {
            float: right;
            color: #666; }
        .section .banner .login .perlist .conv {
          width: 210px;
          height: 123px;
          padding: 10px; }
          .section .banner .login .perlist .conv p {
            padding: 10px 5px 10px 35px;
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
            background: url(../img/minimg/mobile1.png) no-repeat left center; }
          .section .banner .login .perlist .conv a {
            display: block;
            float: left;
            text-align: center;
            padding: 0 5px;
            width: 42px;
            line-height: 15px;
            height: 55px;
            color: #666; }
            .section .banner .login .perlist .conv a i {
              display: block;
              width: 26px;
              height: 20px;
              margin: 0 10px 5px; }
          .section .banner .login .perlist .conv #zb i {
            background: url(../img/minimg/icon_2.png) 0 0; }
          .section .banner .login .perlist .conv #zs i {
            background: url(../img/minimg/icon_2.png) 0 -20px; }
          .section .banner .login .perlist .conv #wl i {
            background: url(../img/minimg/icon_2.png) 0 -40px; }
          .section .banner .login .perlist .conv #hy i {
            background: url(../img/minimg/icon_2.png) 0 -60px; }
          .section .banner .login .perlist .conv #zb:hover i {
            background: url(../img/minimg/icon_2.png) -28px 0; }
          .section .banner .login .perlist .conv #zs:hover i {
            background: url(../img/minimg/icon_2.png) -28px -20px; }
          .section .banner .login .perlist .conv #wl:hover i {
            background: url(../img/minimg/icon_2.png) -28px -40px; }
          .section .banner .login .perlist .conv #hy:hover i {
            background: url(../img/minimg/icon_2.png) -28px -60px; }
      .section .banner .login .goods {
        width: 230px;
        height: 215px;
        border-top: 2px solid #dc0f50; }
        .section .banner .login .goods h2 {
          width: 210px;
          height: 30px;
          padding: 10px;
          line-height: 20px;
          text-align: center;
          font-size: 16px;
          color: #dc0f50; }
        .section .banner .login .goods a {
          display: block;
          float: left;
          width: 113px;
          height: 151px;
          margin-left: 2px; }
          .section .banner .login .goods a img {
            width: 113px;
            height: 113px; }
          .section .banner .login .goods a i {
            display: block;
            width: 113px;
            height: 30px;
            line-height: 30px;
            margin-top: 10px;
            background: #dc0f50;
            color: #fff;
            text-align: center; }
  .section .good-list {
    width: 1200px;
    height: 362px;
    margin-bottom: 30px; }
    .section .good-list .hd {
      width: 1200px;
      height: 32px;
      margin-bottom: 30px;
      position: relative; }
      .section .good-list .hd h2 {
        position: absolute;
        left: 0;
        height: 26px;
        padding: 4px 5px;
        background: #fff;
        font-size: 24px;
        color: #333; }
      .section .good-list .hd .line {
        width: 100%;
        height: 30px;
        border-bottom: 1px solid #ccc; }
    .section .good-list #glists1 {
      width: 1200px;
      height: 300px;
      position: relative;
      overflow: hidden; }
      .section .good-list #glists1 ul {
        min-width: 9999px;
        height: 298px;
        margin: 0 20px;
        position: absolute;
        left: 0;
        top: 0; }
        .section .good-list #glists1 ul li {
          float: left;
          width: 200px;
          border: 2px solid #fff;
          margin: 0 21px 0 10px;
          transition: all 2s; }
          .section .good-list #glists1 ul li:hover {
            border: 2px solid #dc0f50; }
          .section .good-list #glists1 ul li .box {
            width: 200px;
            height: 200px;
            overflow: hidden; }
            .section .good-list #glists1 ul li .box img {
              width: 200px;
              height: 200px;
              transition: all 2s; }
              .section .good-list #glists1 ul li .box img:hover {
                transform: scale(1.3, 1.3); }
          .section .good-list #glists1 ul li p {
            width: 200px;
            height: 24px;
            position: relative;
            margin-top: -24px;
            background: rgba(0, 0, 0, 0.6);
            text-align: center;
            color: #fff; }
          .section .good-list #glists1 ul li span {
            width: 190px;
            padding: 5px;
            height: 34px;
            font-size: 14px;
            line-height: 18px;
            color: #333;
            text-overflow: ellipsis;
            display: block;
            overflow: hidden; }
          .section .good-list #glists1 ul li i {
            display: block;
            font-size: 20px;
            color: #dc0f50; }
            .section .good-list #glists1 ul li i em {
              color: #666;
              padding: 0 10px;
              font-size: 12px;
              text-decoration: line-through; }
          .section .good-list #glists1 ul li:hover span {
            color: #dc0f50; }
      .section .good-list #glists1 #prev1, .section .good-list #glists1 #next1 {
        width: 30px;
        height: 60px;
        font-size: 30px;
        color: #fff;
        display: block;
        line-height: 60px;
        text-align: center;
        background: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 60px; }
      .section .good-list #glists1 #prev1 {
        left: 0; }
      .section .good-list #glists1 #next1 {
        right: -2px; }
  .section .time-list {
    width: 1200px;
    height: 362px;
    margin-bottom: 30px;
    position: relative; }
    .section .time-list .hd {
      width: 1200px;
      height: 32px;
      margin-bottom: 30px;
      position: relative; }
      .section .time-list .hd h2 {
        position: absolute;
        left: 0;
        height: 26px;
        padding: 4px 5px;
        background: #fff;
        font-size: 24px;
        color: #333; }
        .section .time-list .hd h2 span {
          font-size: 14px;
          font-weight: 400; }
          .section .time-list .hd h2 span i {
            padding: 3px 5px;
            background: rgba(0, 0, 0, 0.8);
            color: #fff;
            margin: 0 3px; }
      .section .time-list .hd .line {
        width: 100%;
        height: 30px;
        border-bottom: 1px solid #ccc; }
    .section .time-list #wrap {
      width: 1200px;
      height: 300px;
      background: rgba(0, 0, 0, 0.6);
      font-size: 30px;
      font-weight: bold;
      color: #fff;
      text-align: center;
      line-height: 300px;
      position: absolute;
      top: 62px;
      left: 0;
      display: none; }
    .section .time-list #glists2 {
      width: 1200px;
      height: 300px;
      position: relative;
      overflow: hidden; }
      .section .time-list #glists2 ul {
        min-width: 9999px;
        height: 298px;
        margin: 0 20px;
        position: absolute;
        left: 0;
        top: 0; }
        .section .time-list #glists2 ul li {
          float: left;
          width: 200px;
          position: relative;
          border: 2px solid #fff;
          margin: 0 21px 0 10px;
          transition: all 2s; }
          .section .time-list #glists2 ul li:hover {
            border: 2px solid #dc0f50; }
          .section .time-list #glists2 ul li .box {
            width: 200px;
            height: 200px;
            overflow: hidden; }
            .section .time-list #glists2 ul li .box img {
              width: 200px;
              height: 200px;
              transition: all 2s; }
              .section .time-list #glists2 ul li .box img:hover {
                transform: scale(1.3, 1.3); }
          .section .time-list #glists2 ul li p {
            width: 50px;
            height: 28px;
            position: absolute;
            top: 172px;
            right: 0;
            background: #dc6c8f;
            text-align: center;
            color: #fff; }
          .section .time-list #glists2 ul li span {
            width: 130px;
            padding: 5px 55px 5px 5px;
            height: 34px;
            font-size: 14px;
            line-height: 18px;
            color: #333;
            display: block;
            overflow: hidden; }
          .section .time-list #glists2 ul li i {
            width: 130px;
            display: block;
            font-size: 20px;
            padding: 5px 55px 5px 5px;
            color: #dc0f50; }
            .section .time-list #glists2 ul li i em {
              color: #666;
              padding: 0 10px;
              font-size: 12px;
              text-decoration: line-through; }
          .section .time-list #glists2 ul li b {
            width: 40px;
            height: 48px;
            display: block;
            position: absolute;
            top: 210px;
            right: 0;
            text-align: center;
            font-size: 16px;
            color: #fff;
            background: #ea2e2f; }
          .section .time-list #glists2 ul li:hover span {
            color: #dc0f50; }
      .section .time-list #glists2 #prev2, .section .time-list #glists2 #next2 {
        width: 30px;
        height: 60px;
        font-size: 30px;
        color: #fff;
        display: block;
        line-height: 60px;
        text-align: center;
        background: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 60px; }
      .section .time-list #glists2 #prev2 {
        left: 0; }
      .section .time-list #glists2 #next2 {
        right: -2px; }
  .section .like-list {
    width: 1200px;
    height: 362px;
    margin-bottom: 30px; }
    .section .like-list .hd {
      width: 1200px;
      height: 32px;
      margin-bottom: 30px;
      position: relative; }
      .section .like-list .hd h2 {
        position: absolute;
        left: 0;
        height: 26px;
        padding: 4px 5px;
        background: #fff;
        font-size: 24px;
        color: #333; }
      .section .like-list .hd .line {
        width: 100%;
        height: 30px;
        border-bottom: 1px solid #ccc; }
    .section .like-list #glists3 {
      width: 1200px;
      height: 300px;
      position: relative;
      overflow: hidden; }
      .section .like-list #glists3 ul {
        min-width: 9999px;
        height: 298px;
        margin: 0 20px;
        position: absolute;
        left: 0;
        top: 0; }
        .section .like-list #glists3 ul li {
          float: left;
          width: 200px;
          position: relative;
          border: 2px solid #fff;
          margin: 0 21px 0 10px;
          transition: all 2s; }
          .section .like-list #glists3 ul li:hover {
            border: 2px solid #dc0f50; }
          .section .like-list #glists3 ul li .box {
            width: 200px;
            height: 200px;
            overflow: hidden; }
            .section .like-list #glists3 ul li .box img {
              width: 200px;
              height: 200px;
              transition: all 2s; }
              .section .like-list #glists3 ul li .box img:hover {
                transform: scale(1.3, 1.3); }
          .section .like-list #glists3 ul li span {
            width: 130px;
            padding: 5px 55px 5px 5px;
            height: 34px;
            font-size: 14px;
            line-height: 18px;
            color: #333;
            display: block;
            overflow: hidden; }
          .section .like-list #glists3 ul li i {
            width: 130px;
            display: block;
            font-size: 20px;
            padding: 5px 55px 5px 5px;
            color: #dc0f50; }
            .section .like-list #glists3 ul li i em {
              color: #666;
              padding: 0 10px;
              font-size: 12px;
              text-decoration: line-through; }
          .section .like-list #glists3 ul li:hover span {
            color: #dc0f50; }
      .section .like-list #glists3 #prev3, .section .like-list #glists3 #next3 {
        width: 30px;
        height: 60px;
        font-size: 30px;
        color: #fff;
        display: block;
        line-height: 60px;
        text-align: center;
        background: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 60px; }
      .section .like-list #glists3 #prev3 {
        left: 0; }
      .section .like-list #glists3 #next3 {
        right: -2px; }
  .section .floor {
    width: 1200px;
    height: 556px;
    margin-bottom: 30px; }
    .section .floor h2 {
      margin-bottom: 25px; }
    .section .floor .floor-left {
      width: 890px;
      height: 556px;
      margin-right: 10px;
      float: left; }
      .section .floor .floor-left .left {
        width: 300px;
        height: 514px;
        float: left; }
        .section .floor .floor-left .left img {
          width: 300px;
          height: 376px; }
        .section .floor .floor-left .left p {
          width: 300px;
          height: 108px;
          margin-top: 20px;
          text-align: center; }
          .section .floor .floor-left .left p a {
            width: 80px;
            height: 30px;
            margin: 5px;
            display: inline-block; }
            .section .floor .floor-left .left p a img {
              width: 80px;
              height: 30px;
              border: 1px solid #bbb; }
            .section .floor .floor-left .left p a:hover img {
              border: 1px solid #DC0F50;
              transition: all 2s; }
      .section .floor .floor-left .right {
        width: 580px;
        height: 514px;
        float: left;
        margin-left: 10px; }
        .section .floor .floor-left .right #turnimg {
          width: 580px;
          height: 310px;
          overflow: hidden;
          position: relative; }
        .section .floor .floor-left .right .proimg {
          width: 580px;
          height: 190px;
          margin-top: 5px; }
          .section .floor .floor-left .right .proimg a {
            display: block;
            width: 186px;
            height: 186px;
            margin-right: 2px;
            border: 2px solid #fff;
            float: left; }
            .section .floor .floor-left .right .proimg a img {
              width: 186px;
              height: 186px; }
            .section .floor .floor-left .right .proimg a:hover {
              border: 2px solid #dc0f50;
              transition: all 2s; }
    .section .floor .floor-right {
      width: 300px;
      height: 556px;
      float: right; }
      .section .floor .floor-right dl {
        width: 300px;
        height: 80px;
        padding: 10px 0;
        border-bottom: 1px solid #bbb; }
        .section .floor .floor-right dl dt {
          float: left;
          width: 80px;
          height: 80px;
          margin-right: 15px;
          overflow: hidden;
          position: relative;
          margin-left: 0; }
          .section .floor .floor-right dl dt img {
            width: 80px;
            height: 80px;
            transition: all 2s; }
            .section .floor .floor-right dl dt img:hover {
              margin-left: 15px; }
          .section .floor .floor-right dl dt span {
            display: block;
            width: 24px;
            height: 19px;
            color: #fff;
            padding: 3px 5px;
            line-height: 12px;
            background: url(../img/biao_bg.png) no-repeat 0 0;
            position: absolute;
            top: 10px;
            left: 0; }
        .section .floor .floor-right dl dd {
          float: left;
          width: 205px; }
          .section .floor .floor-right dl dd i {
            display: block;
            height: 32px;
            line-height: 16px;
            margin-bottom: 20px; }
          .section .floor .floor-right dl dd em {
            display: block;
            font-size: 20px;
            color: #dc0f50; }
          .section .floor .floor-right dl dd:hover i {
            color: #dc0f50; }

#fix {
  width: 30px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6); }
  #fix #user {
    display: block;
    width: 25px;
    margin: 100px 2px 20px 3px;
    height: 25px;
    background: url(../img/sideb.png) 3px 2px; }
    #fix #user:hover {
      background: url(../img/sideb.png) -22px 2px; }
  #fix #shop {
    width: 30px;
    height: 30px;
    display: block;
    margin: 50px 0;
    background: url(../img/ind.png) 2px -53px; }
    #fix #shop:hover {
      background: url(../img/ind.png) 2px -87px; }
  #fix #code {
    display: block;
    width: 30px;
    height: 30px;
    margin: 30px 0;
    position: relative;
    background: url(../img/sideb.png) 5px -150px; }
    #fix #code:hover {
      background: url(../img/sideb.png) -20px -150px; }
      #fix #code:hover .cod {
        display: block; }
    #fix #code .cod {
      width: 240px;
      height: 140px;
      display: none;
      border: 1px solid #bbb;
      position: absolute;
      top: -40px;
      right: 30px;
      background: #fff; }
      #fix #code .cod i {
        width: 110px;
        height: 130px;
        padding: 5px;
        float: left;
        display: block;
        text-align: center; }
        #fix #code .cod i img {
          width: 90px;
          height: 90px; }
        #fix #code .cod i span {
          display: block;
          width: 110px; }
  #fix #back {
    display: block;
    width: 30px;
    height: 26px;
    background: url(../img/sideb.png) 5px -179px;
    margin: 30px 0; }
    #fix #back:hover {
      background: url(../img/sideb.png) -20px -179px; }

/*# sourceMappingURL=index.css.map */
