@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

body {
  font: 12px/24px "微软雅黑";
  color: #666; }

body, html {
  width: 100%;
  height: 100%; }

ul, li, ol {
  list-style: none; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #666; }

img {
  border: none;
  padding: 0;
  margin: 0; }

i, em {
  font-style: normal; }

input, textarea, select, button {
  outline: none;
  resize: none; }

section {
  width: 100%;
  position: relative; }
  section hr {
    position: absolute;
    top: 40px;
    width: 100%;
    border: 1px solid #dc0f50; }

.section {
  width: 1200px;
  margin: 0 auto; }
  .section nav {
    width: 1200px;
    height: 40px; }
    .section nav dt {
      float: left;
      width: 234px;
      height: 40px;
      font-size: 14px;
      color: #fff;
      line-height: 40px;
      text-align: center;
      margin-right: 20px;
      position: relative;
      cursor: pointer;
      background: #333 url(../img/nav_b_bg.jpg) no-repeat 200px center; }
      .section nav dt:hover {
        background: #333 url(../img/nav_a_bg.jpg) no-repeat 200px center; }
        .section nav dt:hover .list {
          display: block;
          background: #fff; }
      .section nav dt .list {
        position: absolute;
        left: 0;
        top: 40px;
        width: 232px;
        height: 560px;
        border: 1px solid #ccc;
        display: none;
        z-index: 6666; }
        .section nav dt .list a {
          display: block;
          height: 40px;
          text-align: center;
          line-height: 40px;
          font-size: 14px;
          color: #666; }
          .section nav dt .list a:hover {
            background: #dc0f50; }
    .section nav dd a {
      float: left;
      margin: 0 15px;
      line-height: 40px;
      font-size: 14px; }
      .section nav dd a:hover {
        color: #dc0f50; }
  .section .kong {
    height: 150px;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    background: url(../img/gwc_kong.png) no-repeat center 111px;
    padding-top: 300px;
    line-height: 64px;
    display: block;
    font-size: 14px;
    color: #333; }
    .section .kong a {
      color: #dc0f50;
      margin: 0 5px; }
  .section #cartbox {
    width: 1200px;
    display: none; }
    .section #cartbox .mycart {
      width: 1200px;
      overflow: hidden;
      margin: 15px 0; }
      .section #cartbox .mycart i {
        display: block;
        float: left;
        width: 30px;
        height: 30px;
        margin: 0 5px;
        background: url(../img/ind.png) no-repeat -100px -728px; }
      .section #cartbox .mycart h3 {
        width: 200px;
        float: left;
        font-weight: 500; }
      .section #cartbox .mycart a {
        display: block;
        float: right; }
        .section #cartbox .mycart a:hover {
          color: #dc0f50; }
    .section #cartbox .shopcart {
      width: 1180px;
      margin: 0 auto;
      padding: 10px;
      border: 1px solid #ccc; }
      .section #cartbox .shopcart .list-top {
        width: 1180px;
        height: 40px;
        margin-bottom: 15px; }
        .section #cartbox .shopcart .list-top label {
          width: 160px; }
        .section #cartbox .shopcart .list-top span:first-child {
          width: 150px;
          text-align: left; }
          .section #cartbox .shopcart .list-top span:first-child input {
            margin: 0 5px; }
        .section #cartbox .shopcart .list-top span:nth-child(2) {
          width: 260px;
          margin-right: 260px; }
        .section #cartbox .shopcart .list-top span {
          width: 122px;
          height: 40px;
          line-height: 40px;
          display: inline-block;
          text-align: center; }
      .section #cartbox .shopcart ul {
        width: 1180px; }
        .section #cartbox .shopcart ul li {
          width: 1180px;
          height: 120px;
          border-bottom: 1px solid #ccc;
          overflow: hidden; }
          .section #cartbox .shopcart ul li:hover {
            color: #dc0f50; }
          .section #cartbox .shopcart ul li span {
            display: block;
            float: left;
            line-height: 120px;
            width: 122px;
            height: 120px;
            text-align: center; }
          .section #cartbox .shopcart ul li span:first-child {
            width: 178px;
            position: relative;
            line-height: 30px; }
            .section #cartbox .shopcart ul li span:first-child label {
              display: inline-block;
              width: 30px;
              height: 30px;
              position: absolute;
              top: 35px;
              left: 5px; }
            .section #cartbox .shopcart ul li span:first-child img {
              display: inline-block;
              width: 100px;
              height: 100px;
              margin: 10px 15px 10px 30px; }
          .section #cartbox .shopcart ul li span:nth-child(2) {
            width: 240px;
            height: 100px;
            padding: 10px;
            text-align: left; }
          .section #cartbox .shopcart ul li span:nth-child(3) {
            width: 240px;
            text-align: left; }
            .section #cartbox .shopcart ul li span:nth-child(3) p {
              line-height: 60px; }
          .section #cartbox .shopcart ul li span:nth-child(5) {
            width: 122px;
            position: relative; }
            .section #cartbox .shopcart ul li span:nth-child(5) input {
              width: 40px;
              text-align: center;
              height: 20px;
              border: 1px solid #ccc;
              outline: none; }
            .section #cartbox .shopcart ul li span:nth-child(5) #plus, .section #cartbox .shopcart ul li span:nth-child(5) #minus {
              position: absolute;
              top: 50px;
              width: 20px;
              height: 20px;
              line-height: 20px;
              text-align: center;
              font-weight: bold;
              font-size: 20px;
              border: 1px solid #ccc; }
            .section #cartbox .shopcart ul li span:nth-child(5) #plus {
              left: 81px; }
            .section #cartbox .shopcart ul li span:nth-child(5) #minus {
              left: 19px; }
          .section #cartbox .shopcart ul li span:last-child b {
            display: inline-block;
            width: 25px;
            height: 25px;
            background: url(../img/del.png) no-repeat 0 -25px; }
            .section #cartbox .shopcart ul li span:last-child b:hover {
              background: url(../img/del.png) no-repeat 0 0; }
    .section #cartbox .box {
      width: 1200px;
      height: 40px;
      margin: 30px 0;
      line-height: 40px;
      overflow: hidden;
      border: 1px solid #ccc; }
      .section #cartbox .box a {
        display: block;
        float: right;
        width: 120px;
        height: 30px;
        margin: 5px 10px 5px 30px;
        font-weight: 600;
        font-size: 20px;
        text-align: center;
        line-height: 30px;
        background: #dc0f50;
        color: #fff; }
      .section #cartbox .box span {
        width: 150px;
        display: block;
        float: right;
        font-size: 16px;
        color: #000; }
        .section #cartbox .box span i {
          margin: 0 10px;
          color: #dc0f50; }
      .section #cartbox .box label {
        display: block;
        width: 50px;
        float: left;
        margin: 0 15px; }
      .section #cartbox .box b {
        display: block;
        width: 150px;
        height: 25px;
        float: left;
        margin: 8px;
        line-height: 25px;
        padding-left: 20px;
        background: url(../img/del.png) no-repeat left -23px; }
        .section #cartbox .box b:hover {
          background: url(../img/del.png) no-repeat left 0; }
  .section .like {
    width: 1200px;
    height: 260px;
    margin: 30px 0;
    position: relative; }
    .section .like .tabsTitle {
      width: 1200px;
      height: 30px;
      overflow: hidden;
      background: #ffe; }
      .section .like .tabsTitle .current {
        background: #fff;
        color: #dc0f50; }
      .section .like .tabsTitle li {
        float: left;
        width: 120px;
        font-size: 14px;
        text-align: center;
        line-height: 30px; }
    .section .like .bottom_rec_goodbox {
      width: 1200px;
      height: 220px;
      margin-top: 10px; }
      .section .like .bottom_rec_goodbox .bottom_rec_goodul {
        width: 1140px;
        height: 220px;
        float: left;
        overflow: hidden;
        position: relative; }
        .section .like .bottom_rec_goodbox .bottom_rec_goodul ul {
          width: 9999px;
          height: 220px;
          position: absolute;
          top: 0;
          left: 0; }
          .section .like .bottom_rec_goodbox .bottom_rec_goodul ul li {
            width: 200px;
            height: 220px;
            float: left;
            margin-right: 35px; }
            .section .like .bottom_rec_goodbox .bottom_rec_goodul ul li:hover p {
              color: #dc0f50; }
            .section .like .bottom_rec_goodbox .bottom_rec_goodul ul li a {
              display: block;
              width: 210px;
              height: 170px;
              overflow: hidden; }
              .section .like .bottom_rec_goodbox .bottom_rec_goodul ul li a img {
                width: 170px;
                height: 170px;
                margin: 5px 15px;
                transition: all 1s; }
              .section .like .bottom_rec_goodbox .bottom_rec_goodul ul li a:hover img {
                transform: scale(1.3, 1.3); }
            .section .like .bottom_rec_goodbox .bottom_rec_goodul ul li p {
              width: 180px;
              height: 30px;
              line-height: 15px;
              padding: 0 10px; }
            .section .like .bottom_rec_goodbox .bottom_rec_goodul ul li b {
              width: 200px;
              display: block;
              text-align: center;
              color: #dc0f50;
              font-size: 16px; }
      .section .like .bottom_rec_goodbox .chang_box {
        width: 30px;
        height: 220px;
        position: relative;
        float: left; }
        .section .like .bottom_rec_goodbox .chang_box #rec_pre {
          height: 40px;
          width: 30px;
          position: absolute;
          left: 0px;
          top: 65px;
          background: white url(../img/ind.png) no-repeat -100px -195px; }
        .section .like .bottom_rec_goodbox .chang_box #rec_next {
          right: 10px;
          height: 40px;
          width: 30px;
          position: absolute;
          left: 0px;
          top: 65px;
          background: url(../img/ind.png) no-repeat -100px -158px; }

/*# sourceMappingURL=shopcart.css.map */
