@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

body {
  font: 12px/24px "微软雅黑";
  color: #666; }

body, html {
  width: 100%;
  height: 100%; }

ul, li, ol {
  list-style: none; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #666; }

img {
  border: none;
  padding: 0;
  margin: 0; }

i, em {
  font-style: normal; }

input, textarea, select, button {
  outline: none;
  resize: none; }

.active, #top div span a:hover, #top div span:nth-child(5) a, #top div span:nth-child(7) a, #wrap-top #search p span:hover {
  color: #dc0f50; }

.header {
  width: 100%;
  height: 163px; }

.top {
  width: 100%;
  height: 30px;
  background: #e5e5e5; }

#top {
  width: 1200px;
  height: 30px;
  background: #e5e5e5;
  margin: 0 auto; }
  #top p {
    width: 100px;
    float: left;
    line-height: 30px; }
    #top p a {
      color: #666; }
      #top p a:hover {
        text-decoration: underline;
        color: #dc0f50; }
  #top div {
    width: 1100px;
    float: right; }
    #top div span {
      cursor: pointer;
      display: block;
      float: right;
      line-height: 30px;
      padding: 0 10px; }
      #top div span a {
        color: #666; }
        #top div span a:hover {
          text-decoration: underline; }
    #top div span:nth-child(1) {
      padding: 0 20px;
      background: url(../img/wx.png) no-repeat left center;
      padding-right: 0px;
      position: relative; }
      #top div span:nth-child(1):hover label {
        display: block; }
      #top div span:nth-child(1) label {
        cursor: pointer;
        display: none;
        z-index: 666;
        width: 123px;
        height: 143px;
        position: absolute;
        background: #fff;
        left: -60px;
        top: 30px;
        border: 1px solid #ccc; }
        #top div span:nth-child(1) label i {
          position: absolute;
          display: block;
          width: 20px;
          height: 20px;
          left: 45px;
          top: -23px;
          border: none;
          background: url(../img/ware_list.png) center no-repeat; }
        #top div span:nth-child(1) label img {
          width: 100px;
          height: 100px;
          margin: 10px 10px 0; }
        #top div span:nth-child(1) label span {
          width: 100px;
          line-height: 20px;
          text-align: center;
          color: #666; }
    #top div span:nth-child(2) {
      padding: 0 20px;
      background: url(../img/iphone.png) no-repeat 6px center;
      position: relative; }
      #top div span:nth-child(2):hover label {
        display: block; }
      #top div span:nth-child(2) label {
        cursor: pointer;
        display: none;
        z-index: 666;
        width: 123px;
        height: 143px;
        position: absolute;
        left: -60px;
        top: 30px;
        border: 1px solid #ccc; }
        #top div span:nth-child(2) label i {
          position: absolute;
          display: block;
          width: 20px;
          height: 20px;
          left: 45px;
          top: -23px;
          border: none;
          background: url(../img/ware_list.png) center no-repeat; }
        #top div span:nth-child(2) label img {
          width: 100px;
          height: 100px;
          margin: 10px 10px 0; }
        #top div span:nth-child(2) label span {
          width: 100px;
          line-height: 20px;
          text-align: center;
          color: #666; }
    #top div i {
      float: right;
      margin: 7px 10px;
      height: 16px;
      line-height: 30px;
      border-left: 1px solid #666; }
    #top div span:nth-child(5) a, #top div span:nth-child(7) a {
      padding: 0 4px; }

.wrap-top {
  margin-top: 30px;
  width: 100%;
  height: 80px; }

#wrap-top {
  width: 1200px;
  height: 80px;
  margin: 0 auto; }
  #wrap-top a {
    float: left;
    display: block;
    width: 400px;
    height: 80px; }
  #wrap-top #search {
    float: left;
    width: 600px; }
    #wrap-top #search label {
      display: block;
      overflow: hidden; }
      #wrap-top #search label span {
        float: left;
        width: 30px;
        height: 42px;
        background: #dc0f50 url(../img/ind.png) 5px -10px; }
      #wrap-top #search label input {
        float: left;
        width: 430px;
        height: 38px;
        border: 2px solid #dc0f50;
        outline: none;
        font-size: 16px;
        padding: 0 10px; }
      #wrap-top #search label i {
        float: left;
        width: 60px;
        height: 42px;
        background: #dc0f50;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        line-height: 42px;
        cursor: pointer; }
    #wrap-top #search p {
      width: 600px;
      height: 36px; }
      #wrap-top #search p span {
        cursor: pointer;
        margin: 0 8px;
        line-height: 36px;
        font-size: 14px; }
  #wrap-top .cart {
    position: relative;
    right: 30px;
    z-index: 2;
    float: right;
    width: 110px;
    height: 42px;
    border: 1px solid #ccc; }
    #wrap-top .cart span {
      display: inline-block;
      width: 70px;
      padding-left: 40px;
      line-height: 42px;
      background: url(../img/ind.png) 10px -75px;
      cursor: pointer; }
    #wrap-top .cart i {
      position: absolute;
      top: -8px;
      right: -8px;
      width: 20px;
      height: 20px;
      background: #dc0f50;
      border-radius: 50%;
      z-index: 10;
      line-height: 20px;
      text-align: center;
      color: #fff; }

/*# sourceMappingURL=top.css.map */
