@charset "utf-8";
$width:1200px;
$color:#dc0f50;
*{
    padding:0;
    margin:0
}
body{
    font:12px/24px "微软雅黑";
    color:#666;
}
body,html{
    width:100%;
    height:100%;
}
ul,li,ol{
    list-style:none;
}
a{text-decoration:none;cursor:pointer;
color:#666;}
img{
    border:none;
    padding:0;margin:0;
}
i,em{font-style: normal;}
input,textarea,select,button{
    outline:none;
    resize: none;
}
