@charset "utf-8";
@import "base";
$width:1200px;
$color:#dc0f50;
footer{
    width:100%;
    height:342px;
}
#footer-top{
    width:$width;
    height:270px;
    margin:0 auto;
    ul{
        width:$width;
        height:54px;
        margin:20px 20px 35px;
        li{
            float:left;
            padding: 0 15px 0 85px;
            height:54px;
            border-right:1px solid #ccc;
            em{
                display:block;
                font-size:16px;
                line-height:22px;
                padding-top:5px;
            }
            i{
                display:block;
                line-height:18px;
                padding-top:5px;
                color:#999;
            }
        }
        li:nth-child(1){
            background:url(../img/minimg/warrant_icon.png) no-repeat 15px 0;
        }
        li:nth-child(2){
            background:url(../img/minimg/warrant_icon.png) no-repeat 15px -54px;
        }
        li:nth-child(3){
            background:url(../img/minimg/warrant_icon.png) no-repeat 15px -108px;
        }
        li:nth-child(4){
            background:url(../img/minimg/warrant_icon.png) no-repeat 15px -163px;
        }
        li:nth-child(5){
            background:url(../img/minimg/warrant_icon.png) no-repeat 15px -218px;
            border:none;
        }
    }
    .foot{
        width:$width;
        height:151px;
        .foot-list{
            width:900px;
            height:151px;
            float:left;
            padding-left:20px;
            dl{
                float:left;
                margin:0 40px;
                text-align:center;
                dt a{
                    font-size:16px;
                    font-weight:bold;
                    line-height:30px;
                    &:hover{
                        color:$color;
                    }
                }
                dd a{
                    display:block;
                    height:20px;
                    line-height:20px;
                    color:#999;
                    &:hover{
                        color:$color;
                    }
                }
            }
        }
        #foot-ro{
            float:left;
            width:210px;
            height:151px;
            ul {
                width:210px;
                height:104px;
                margin:0;
                li{
                    width:80px;
                    height:104px;
                    background:none;
                    padding:0;
                    border:none;
                    text-align:center;
                    font-weight:bold;
                    margin-right:20px;
                    img{
                        width:80px;
                        height:80px;
                    }
                }
            }
            p{
                margin-top:10px;
                width:210px;
                height:37px;
                padding-left:40px;
                background:url(../img/minimg/mobile.png) no-repeat left center;
                em{
                    display:block;
                    font-weight:bold;
                    font-size:20px;
                }
                i{
                    display:block;
                    line-height:14px;
                }
            }
        }
    }
}
.foof{
    width:100%;
    height:72px;
    background:#333;
    .footf{
        width:$width;
        height:52px;
        padding:10px 0;
        margin:0 auto;
        background:#333;
        p a:hover{
            color:#fff;
        }
    }
}
