@charset "utf-8";
@import "base";
$width:1200px;
$color:#dc0f50;
$fontSize:14px;
section{
    width:100%;position:relative;
    hr{
        position:absolute;
        top:40px;
        width:100%;
        border:1px solid $color;
    }
}
.section{
    width:$width;
    margin:0 auto;
    //导航nav开始
    nav{
        width:$width;
        height:40px;
        dt{
            float:left;
            width:234px;
            height:40px;
            font-size:$fontSize;
            color:#fff;
            line-height:40px;
            text-align:center;
            margin-right:20px;
            position:relative;
            cursor:pointer;
            background:#333 url(../img/nav_b_bg.jpg) no-repeat 200px center;
            &:hover{
                background:#333 url(../img/nav_a_bg.jpg) no-repeat 200px center;
                .list{
                    display:block;
                    background:#fff;
                }
            }
            //子菜单开始
            .list{
                position:absolute;
                left:0;top:40px;
                width:232px;
                height:560px;
                border:1px solid #ccc;
                display:none;
                z-index: 6666;
                a{
                    display:block;
                    height:40px;
                    text-align:center;
                    line-height:40px;
                    font-size: $fontSize;color:#666;
                    &:hover{
                        background:$color;
                    }
                }
            }
            //子菜单结束
        }
        dd a{
            float:left;
            margin:0 15px; 
            line-height:40px;
            font-size:$fontSize;  
            &:hover{
                color:$color;
            } 
        }
    }//导航nav结束
    
    .kong{
        height: 150px;
        width:1200px;
        margin:0 auto;
        text-align: center;
        background: url(../img/gwc_kong.png) no-repeat center 111px;
        padding-top: 300px;
        line-height: 64px;
        display:none;
        font-size: 14px;
        color: #333;
        a{
            color:$color;
            margin:0 5px;
        }
    }//购物车为空时显示
    
    .mycart{
        width:1200px;
        overflow:hidden;
        margin:15px 0;
        i{
            display:block;
            float:left;
            width:30px;
            height:30px;
            margin:0 5px;
            background:url(../img/ind.png) no-repeat -100px -728px;
        }
        h3{
            width:200px;
            float:left;font-weight:500;
        }
        a{
            display:block;
            float:right;
            &:hover{
                color:$color;
            }
        }
    }
    //购物车不为空时显示
    .shopcart{
        width:1180px;
        margin:0 auto;
        padding:10px;
        border:1px solid #ccc;
        .list-top{
            width:1180px;
            height:40px;
            margin-bottom:15px;
            label{
                width:160px;
            }
            span:first-child{
                width:150px;
                text-align: left;
                input{
                    margin:0 5px;
                }
            }
            span:nth-child(2){
                width:260px;
                margin-right:260px;
            }
            span{
                width:122px;
                height:40px;
                line-height:40px;
                display:inline-block;
                text-align:center;
            }
        }//购物车列表头部
        ul{
            width:1180px;
            li{
                width:1180px;
                height:120px;
                border-bottom:1px solid #ccc;
                overflow:hidden;
                &:hover{
                    color:$color;
                }
                span{
                    display:block;
                    float:left;
                    line-height:120px;
                    width:122px;
                    height:120px;
                    text-align:center;
                }
                span:first-child{
                    width:178px;
                    position:relative;
                    line-height:30px;
                    label{
                        display:inline-block;
                        width:30px;
                        height:30px;
                        position:absolute;
                        top:35px;
                        left:5px;
                    }
                    img{
                        display:inline-block;
                        width:100px;
                        height:100px;
                        margin:10px 15px 10px 30px;
                    }
                }
                span:nth-child(2){
                    width:240px;
                    height:100px;
                    padding:10px;
                    text-align: left;
                }
                span:nth-child(3){
                    width:240px;
                    text-align: left;
                    p{
                        line-height:60px;
                    }
                }
                span:nth-child(5){
                    width:122px;
                    position:relative;
                    input{
                        width:40px;
                        text-align:center;
                        height:20px;
                        border:1px solid #ccc;
                        outline:none;
                    }
                    #plus,#minus{
                        position:absolute;
                        top:50px;
                        width:20px;
                        height:20px;
                        line-height:20px;
                        text-align: center;
                        font-weight:bold;
                        font-size:20px;
                        border:1px solid #ccc;
                    }
                    #plus{
                        left:81px;
                    }
                    #minus{
                        left:19px;
                    }
                }
                span:last-child b{
                    display:inline-block;
                    width:25px;
                    height:25px;
                    background:url(../img/del.png) no-repeat 0 -25px;
                    &:hover{
                        background:url(../img/del.png) no-repeat 0 0;
                    }
                }
            }
            
        }
    }//添加购物车结束
    .box{
        width:1200px;
        height:40px;
        margin:30px 0;
        line-height:40px;
        overflow:hidden;
        border:1px solid #ccc;
        a{
            display:block;
            float:right;
            width:120px;
            height:30px;
            margin:5px 10px 5px 30px;
            font-weight:600;
            font-size:20px;
            text-align:center;
            line-height:30px;
            background:$color;
            color:#fff;
        }
        span{
            width:150px;
            display:block;
            float:right;
            font-size:16px;
            color:#000;
            i{
                margin:0 10px;
                color:$color;
            }
        }
        label{
            display:block;
            width:50px;
            float:left;
            margin:0 15px;
        }
        b{
            display:block;
            width:150px;
            height:25px;
            float:left;
            margin:8px;
            line-height:25px;
            padding-left:20px;
            background:url(../img/del.png) no-repeat left -23px;
            &:hover{
                background:url(../img/del.png) no-repeat left 0;
            }
        }
    }
}